<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<!-- Librerías de Materialize -->
	<script type="text/javascript" src="../js/materialize.js"></script>
	<link rel="stylesheet" type="text/css" href="../css/materialize.css">
	<script type="text/javascript" src="../js/materialize.min.js"></script>
	<link rel="stylesheet" type="text/css" href="../css/materialize.min.css">
	<!-- Librería de iconos Materialize -->
	 <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
	 <link rel="preconnect" href="https://fonts.googleapis.com">
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
	<link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@100&display=swap" rel="stylesheet">
	<title>ENQUI</title>
</head>
<body>
    <div>
        <nav style="font-family: 'Montserrat'">
            <div class="nav-wrapper" style="background-color:#46467a">
                <a href="#!" class="brand-logo"><img class="responsive-img" width="70%" src="../images/logo.png"></a>
                <ul class="right hide-on-med-and-down">
                    <li><a href="product_list.html">Categorias</a></li>
                    <li><a href="#">Ofertas</a></li>
                    <li><a href="#">Nosotros</a></li>
                    <li><a href="#">Contacto</a></li>
                    <!-- Dropdown Trigger -->
                    <li><a class="dropdown-trigger" href="#!" data-target="dropdown1"><i class="material-icons"
                                style="color: #F9B0C3">person</i><i class="material-icons right">arrow_drop_down</i></a>
                    </li>
                    <li><a class="dropdown-trigger" href="#!" data-target="dropdown2"><i class="material-icons"
                                style="color: #F9B0C3">notifications_active</i><i
                                class="material-icons right">arrow_drop_down</i></a></li>
                    <li><a class="dropdown-trigger" href="shoping_cart.html" data-target="dropdown3"><i class="material-icons"
                                style="color: #F9B0C3">shopping_cart</i><i
                                class="material-icons right">arrow_drop_down</i></a></li>

                </ul>
            </div>
        </nav>

        <!-- Dropdown Structure 1 -->
        <ul id="dropdown1" class="dropdown-content">
            <li><a href="profile.html">Perfil</a></li>
            <li class="divider"></li>
            <li><a href="form_wizard1.html">Conf</a></li>
        </ul>
        <!-- Dropdown Structure 2-->
        <ul id="dropdown2" class="dropdown-content">
            <li><a href="#!">Mensajes</a></li>
            <li class="divider"></li>
            <li><a href="#!">Wizard</a></li>
        </ul>
    </div>

	<div class="row" style="height: 100%; width: 100%; position: fixed; background-color: #FFFFFF;">
		<div class="col" style="background-color: #FFFFFF;  height: 86%; width: 45%; margin-left:5%; margin-top:1%; border-width: 1px;border-style: solid;border-color: #7766C6;">
			<center><p id="titulo2" style="margin-top:1%;">Porcentaje de Ingresos</p></center>
			<center>
			<div> 
				<img src="../images/Graficos/Grafico1.png" style="width: 85%; height: 80%;margin-top: 1%">
			</div>
			</center>
		</div>
		<div class="col" style="background-color: #FFFFFF;  height: 43%; width: 45%; margin-right:3%; margin-top:1%; border-width: 1px;border-style: solid;border-color: #7766C6;">
			<center><p id="titulo2" style="margin-top:1%;">Ventas/Porcentaje</p></center>
			
			<center>
			<div> 
				<img src="../images/Graficos/Grafico2.png" style="width: 85%; height: 85%;">
			</div>
			</center>
	
		</div>
		<div class="col" style="background-color: #FFFFFF;  height: 43%; width: 45%; margin-right:3%; border-width: 1px;border-style: solid;border-color: #7766C6;">
			<center><p id="titulo2" style="margin-top:1%;">Clientes Nuevos</p></center>
			
			<center>
			<div> 
				<img src="../images/Graficos/Grafico3.png" style="width: 80%; height: 86%;">
			</div>
			</center>
	
		</div>

	</div>
	</div>
	<style type="text/css">	

		.btn{
			background-color:transparent;
		}
		#nav-mobile{
			margin-left: 50%;
		}
  		#titulo{
  			font-family: 'Montserrat', sans-serif;
  			font-size: 28px;
  			margin-left: 3%;
  		}
  		#titulo3{
  			font-family: 'Montserrat', sans-serif;
  			font-size: 30px;
  			margin-left: 3%;
  			color:#000000;
  		}
  		#titulo1{
  			font-family: 'Montserrat', sans-serif;
  			font-size: 18px;
  			margin-left: 3%;
  		}
  		#titulo2{
  			font-family: Bebas Neue;
  			font-size: 23px;
  			margin-left: 3%;
  			color:#46467A;
  		}
  		}
  	</style>
  	<script type="text/javascript">
    
  	</script>
</body>
</html>