<!DOCTYPE html>
<html lang="en">

<head>
    <!--Import Google Icon Font-->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link href='https://fonts.googleapis.com/css?family=Bebas Neue' rel='stylesheet'>
    <link href='https://fonts.googleapis.com/css?family=Montserrat' rel='stylesheet'>
    <!--Import materialize.css-->
    <link type="text/css" rel="stylesheet" href="css/materialize.min.css" media="screen,projection" />
    <!--Let browser know website is optimized for mobile-->
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <!-- Compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <!-- Compiled and minified JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
</head>

<body style="font-family: 'Montserrat'">
    <div>
        <nav style="font-family: 'Montserrat'">
            <div class="nav-wrapper" style="background-color:#46467a">
                <a href="#!" class="brand-logo"><img class="responsive-img" width="70%" src="../images/logo.png"></a>
                <ul class="right hide-on-med-and-down">
                    <li><a href="#">Categorias</a></li>
                    <li><a href="#">Contacto</a></li>
                    <!-- Dropdown Trigger -->
                    <li><a class="dropdown-trigger" href="#!" data-target="dropdown1"><i class="material-icons"
                                style="color: #F9B0C3">person</i><i class="material-icons right">arrow_drop_down</i></a>
                    </li>
                    <li><a class="dropdown-trigger" href="#!" data-target="dropdown2"><i class="material-icons"
                                style="color: #F9B0C3">notifications_active</i><i
                                class="material-icons right">arrow_drop_down</i></a></li>
                    <li><a class="dropdown-trigger" href="#!" data-target="dropdown3"><i class="material-icons"
                                style="color: #F9B0C3">shopping_cart</i><i
                                class="material-icons right">arrow_drop_down</i></a></li>

                </ul>
            </div>
        </nav>

        <!-- Dropdown Structure 1 -->
        <ul id="dropdown1" class="dropdown-content">
            <li><a href="#!">Perfil</a></li>
            <li class="divider"></li>
            <li><a href="#!">Config.</a></li>
        </ul>
        <!-- Dropdown Structure 2-->
        <ul id="dropdown2" class="dropdown-content">
            <li><a href="#!">Mensajes</a></li>
            <li class="divider"></li>
            <li><a href="#!">Wizard</a></li>
        </ul>
    </div>

    <div class="container">
        <div class="row">
            <div class="col l12">
                <div class="col l12 m7">
                    <h2 class="header" style="font-family: 'Bebas Neue'">Mini Olla Eléctrica</h2>
                    <div class="card horizontal">

                        <div class="card-image" style="background-color: #E0DFFD; border-radius: 5%;">
                            <img class="materialboxed" width="650" src="../images/detalle_olla1.jpg" style="border-radius: 5%;">
                            <div class="row"></div>

                            <div class="row valign-wrapper">
                                <div class="col"></div>
                                <div class="col l4">
                                    <img class="responsive-img"
                                        style="border-radius: 10%; border-style:solid; border-color: #F9B0C3"
                                        src="../images/detalle_olla1.jpg">
                                </div>
                                <div class="col l4">
                                    <img class="responsive-img"
                                        style="border-radius: 10%; border-style:solid; border-color: #F9B0C3"
                                        src="../images/detalle_olla2.jpg">
                                </div>
                                <div class="col l4">
                                    <img class="responsive-img"
                                        style="border-radius: 10%; border-style:solid; border-color: #F9B0C3"
                                        src="../images/detalle_olla3.jpg">
                                </div>
                                <div class="col"></div>
                            </div>


                        </div>
                        <div class="card-stacked">
                            <div class="card-content">
                                <h6 style="font-weight: bold">Mini olla electrica</h6>
                                <div class="row">
                                    <i class="small material-icons" style="color: #ffc212">star</i>
                                    <i class="small material-icons" style="color: #ffc212">star</i>
                                    <i class="small material-icons" style="color: #ffc212">star</i>
                                    <i class="small material-icons" style="color: #ffc212">star_half</i>
                                    <i class="small material-icons" style="color: #ffc212">star_border</i>
                                </div>
                                <h5 style="font-weight: bold">$745.12</h5>
                                <h6 style="font-weight: bold">Especificaciones del producto</h6>

                                <p>Parámetro del artículo <br>
                                    Voltaje: 220V <br>
                                    Potencia: 600W <br>
                                    Capacidad: 1,5 l <br>
                                    Tamaño del producto: 252x213x159mm <br>
                                    Ventajas del producto <br>
                                    1. Almohadillas antideslizantes para los pies, disipación porosa del calor <br>
                                    2. Visualice la cubierta de vidrio para observar la situación de cocción en tiempo
                                    real <br>
                                    3. Circulación de 360 grados calentamiento tridimensional, la comida se calienta
                                    uniformemente. <br>
                                    4. Revestimiento de esmalte de nanocerámica, cocina segura <br>
                                    Diámetro grande de 5,20 cm, fácil de voltear
                                </p>
                                <div class="row">
                                    <div class="col l12 " style="width: fit-content; background-color: #F9B0C3; border-radius: 10%">
                                        <img class="responsive-img"
                                        style="border-radius: 10%" width="90px"
                                        src="../images/olla_rosa.png">
                                    </div>
                                    <div class="col"></div>
                                    <div class="col l12 " style="width: fit-content; background-color: whitesmoke; border-radius: 10%">
                                        <img class="responsive-img"
                                        style="border-radius: 10%" width="75px"
                                        src="../images/olla_blanca.png">
                                    </div>
                                    <div class="col"></div>
                                    <div class="col"> 
                                    </div>
                                </div>
                            </div>
                            <div class="card-action">
                                <a class="waves-effect waves-light btn"
                                    style="background-color: #46467A; border-radius: 40px; font-family: 'Bebas Neue'">Comprar</a>
                                <a class="waves-effect waves-light btn"
                                    style="background-color: #ffc212; border-radius: 40px; font-family: 'Bebas Neue'">Agregar Carrito</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <script type="text/javascript" src="js/materialize.min.js"></script>
    <script>
        document.addEventListener('DOMContentLoaded', function () {
            var elems = document.querySelectorAll('.dropdown-trigger');
            var instances = M.Dropdown.init(elems);
        });
        document.addEventListener('DOMContentLoaded', function () {
            var imagen = document.querySelectorAll('.materialboxed');
            var instances = M.Materialbox.init(imagen);
        });

    </script>
</body>

</html>