<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <!--Import Google Icon Font-->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link href='https://fonts.googleapis.com/css?family=Bebas Neue' rel='stylesheet'>
    <link href='https://fonts.googleapis.com/css?family=Montserrat' rel='stylesheet'>
    <!--Import materialize.css-->
    <link type="text/css" rel="stylesheet" href="css/materialize.min.css" media="screen,projection" />
    <!--Let browser know website is optimized for mobile-->
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <!-- Compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <!-- Compiled and minified JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
</head>

<body style="font-family:'Bebas Neue'" class="valign-wrapper">
    <div>
        <nav style="font-family: 'Montserrat'">
            <div class="nav-wrapper" style="background-color:#46467a">
                <a href="landinpage.html" class="brand-logo"><img class="responsive-img" width="70%"
                        src="../images/Logo.png"></a>
                <ul class="right hide-on-med-and-down">
                    <li><a href="product_list.html">Catalogo</a></li>
                    <li><a href="#">Ofertas</a></li>
                    <li><a href="#">Nosotros</a></li>
                    <li><a href="contacto_form.html">Contacto</a></li>
                    <!-- Dropdown Trigger -->
                    <li><a href="profile.html" class="dropdown-trigger" style="margin-left: 0%;"><i class="material-icons"><input type="image"
                                    src="../images/icon/user.png" width="30" height="30" style="right: 0%;" data-target="dropdown1"/></i></a>
                    </li>
                    <li><a href="shoping_cart.html"><i class="material-icons"><input type="image" src="../images/icon/carrito.png"
                                    width="30" height="30" style="right: 0%;" /></i></a></li>
                    <li><a href="" class="modal-trigger" style="margin-top: 0%;"><i class="material-icons"><input
                                    type="image" src="../images/icon/notification.png" width="30" height="30"
                                    style="margin-left: 0%;" /></i></a></li>
                </ul>
            </div>
        </nav>
    </div>
    <div class="container ">
        <h2 class="header">Ooops, esto es malo</h2>
        <div class="row">
            <div class="col s12 m7">
                <div class="col">
                    <img src="../images/500.png" width="100%">
                </div>
            </div>
            <div class="col" style="padding-top: 15%">
                <div class="row">
                    <p>No estamos exactamente seguros de lo que sucedió,<br> pero los servidores dicen que algo está mal</p>
                </div>
                <div class="row">
                    <a class="waves-effect waves-light btn"
                        style="border-radius: 40px; background-color: aliceblue; border-color: #F9B0C3; border-style: solid;"><span
                            class="pink-text text-lighten-3">Ir a la página de inicio</span></a>
                </div>
            </div>
        </div>



    </div>

    <script type="text/javascript" src="js/materialize.min.js"></script>
</body>

</html>