<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<!-- Librerías de Materialize -->
	<script type="text/javascript" src="../js/materialize.js"></script>
	<link rel="stylesheet" type="text/css" href="../css/materialize.css">
	<title>ENQUI</title>
</head>
<body>
	<!-- Menú logeado -->
	<nav>
	    <div class="nav-wrapper">
	        <a href="#!" class="brand-logo"><i class="material-icons"></i>Logo</a>
	        <ul class="right hide-on-med-and-down">
	            <li><a href="sass.html"><i class="material-icons">#</i></a></li>
	            <li><a href="badges.html"><i class="material-icons">#</i></a></li>
	            <li><a href="collapsible.html"><i class="material-icons">#</i></a></li>
	            <li><a href="mobile.html"><i class="material-icons">#</i></a></li>
	        </ul>
	    </div>
	</nav>
	<div class="row" style="height: 100%; width: 100%; position: fixed; background-color: #7766C6;">
		<div class="col" style="background-color: white; height: 70%; width: 50%; margin-left:25%; margin-top:5%; border-radius:50px">
			<div style="height:20px"></div>
			<center><p>HÁBLANOS DE TI</p></center>
		</div>
	</div>
</body>
</html>