<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<!-- Librerías de Materialize -->
	<script type="text/javascript" src="../js/materialize.js"></script>
	<link rel="stylesheet" type="text/css" href="../css/materialize.css">
	<link href='https://fonts.googleapis.com/css?family=Bebas Neue' rel='stylesheet'>
    <link href='https://fonts.googleapis.com/css?family=Montserrat' rel='stylesheet'>
	<title>ENQUI</title>
</head>
<body>
	<!-- Menú logeado -->
    <div>
        <nav style="font-family: 'Montserrat'">
            <div class="nav-wrapper" style="background-color:#46467a">
                <a href="landinpage.html" class="brand-logo"><img class="responsive-img" width="70%"
                        src="../images/Logo.png"></a>
                <ul class="right hide-on-med-and-down">
                    <li><a href="product_list.html">Catalogo</a></li>
                    <li><a href="#">Ofertas</a></li>
                    <li><a href="#">Nosotros</a></li>
                    <li><a href="contacto_form.html">Contacto</a></li>
                    <!-- Dropdown Trigger -->
                    <li><a href="profile.html" class="dropdown-trigger" style="margin-left: 0%;"><i class="material-icons"><input type="image"
                                    src="../images/icon/user.png" width="30" height="30" style="right: 0%;" data-target="dropdown1"/></i></a>
                    </li>
                    <li><a href="shoping_cart.html"><i class="material-icons"><input type="image" src="../images/icon/carrito.png"
                                    width="30" height="30" style="right: 0%;" /></i></a></li>
                    <li><a href="" class="modal-trigger" style="margin-top: 0%;"><i class="material-icons"><input
                                    type="image" src="../images/icon/notification.png" width="30" height="30"
                                    style="margin-left: 0%;" /></i></a></li>
                </ul>
            </div>
        </nav>
    </div>
	<hr><hr>
	<div class="row" style="height: 100%; width: 100%; position: fixed;">
		<div class="col s2" style="background-color: #7766C6; height: 100%;">
			<div style="height: 15px"></div>
			<a class="waves-effect waves-light btn" style="width:100%; border-radius: 10px;"><i class="material-icons left"><img src="../images/nuevoEmail.png" style="width:30px; margin-left: 5px; margin-top: 5px;"></i>Nuevo correo</a>
			<a class="waves-effect waves-light btn" style="width:100%; border-radius: 10px;"><i class="material-icons left"><img src="../images/email.png" style="width:30px; margin-left: 5px; margin-top: 5px;"></i>Recibidos</a>
			<a class="waves-effect waves-light btn" style="width:100%; border-radius: 10px;"><i class="material-icons left"><img src="../images/enviar.png" style="width:30px; margin-left: 5px; margin-top: 5px;"></i>Enviados</a>
		</div>
		<div class="col s10" style="background-color: #C1BAE5; height: 100%;">
			<table style="margin-top: 10px;">
				<tr>
					<td style="width:30%"><p>Daniel González Baltazar</p></td>
					<td style="width:5%"></td>
					<td style="width:40%"><p>Nuevo pedido</p></td>
					<td style="width:5%"></td>
					<td style="width:15%">
						<a><img style="width:30px; height:25px;" src="../images/ver.png"></a>
						<a><img style="width:30px; height:25px; margin-left:10px" src="../images/reenviar.png"></a>
						<a><img style="width:25px; height:25px; margin-bottom: 4px; margin-left:10px" src="../images/noVisto.png"></a>
					</td>
					<td style="width:5%"><p>22:29</p></td>
				</tr>
				<tr>
					<td style="width:30%"><p>Aldirijillo Perez</p></td>
					<td style="width:5%"></td>
					<td style="width:40%"><p>Nuevo pedido</p></td>
					<td style="width:5%"></td>
					<td style="width:15%">
						<a><img style="width:30px; height:25px;" src="../images/ver.png"></a>
						<a><img style="width:30px; height:25px; margin-left:10px" src="../images/reenviar.png"></a>
						<a><img style="width:25px; height:25px; margin-bottom: 4px; margin-left:10px" src="../images/noVisto.png"></a>
					</td>
					<td style="width:5%"><p>22:02</p></td>
				</tr>
				<tr>
					<td style="width:30%"><p>Braulio reyes</p></td>
					<td style="width:5%"></td>
					<td style="width:40%"><p>Nuevo pedido</p></td>
					<td style="width:5%"></td>
					<td style="width:15%">
						<a><img style="width:30px; height:25px;" src="../images/ver.png"></a>
						<a><img style="width:30px; height:25px; margin-left:10px" src="../images/reenviar.png"></a>
						<a><img style="width:25px; height:25px; margin-bottom: 4px; margin-left:10px" src="../images/noVisto.png"></a>
					</td>
					<td style="width:5%"><p>21:48</p></td>
				</tr>
				<tr>
					<td style="width:30%"><p>Paulina Baltazar</p></td>
					<td style="width:5%"></td>
					<td style="width:40%"><p>Nuevo pedido</p></td>
					<td style="width:5%"></td>
					<td style="width:15%">
						<a><img style="width:30px; height:25px;" src="../images/ver.png"></a>
						<a><img style="width:30px; height:25px; margin-left:10px" src="../images/reenviar.png"></a>
						<a><img style="width:25px; height:25px; margin-bottom: 4px; margin-left:10px" src="../images/noVisto.png"></a>
					</td>
					<td style="width:5%"><p>21:19</p></td>
				</tr>
			</table>

		</div>
	</div>

	<style type="text/css">
		p {
			font-family: Montserrat;
			font-size: 16px;
			margin-bottom: 0px;
			margin-top: 0px;
		}
		tr {
			border-color: gray;
		}
	</style>
</body>
</html>