<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- Librerías de Materialize -->
    <script type="text/javascript" src="../js/materialize.js"></script>
    <link rel="stylesheet" type="text/css" href="../css/materialize.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link href='https://fonts.googleapis.com/css?family=Bebas Neue' rel='stylesheet'>
    <link href='https://fonts.googleapis.com/css?family=Montserrat' rel='stylesheet'>
    <!--Import materialize.css-->
    <link type="text/css" rel="stylesheet" href="css/materialize.min.css" media="screen,projection" />
    <!--Let browser know website is optimized for mobile-->
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <!-- Compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <!-- Compiled and minified JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
</head>
<body>
    <div>
        <nav style="font-family: 'Montserrat'">
            <div class="nav-wrapper" style="background-color:#46467a">
                <a href="#!" class="brand-logo"><img class="responsive-img" width="70%" src="../images/Logo.png"></a>
                <ul class="right hide-on-med-and-down">
                    <li><a href="#">Categorias</a></li>
                    <li><a href="#">Ofertas</a></li>
                    <li><a href="#">Nosotros</a></li>
                    <li><a href="#">Contacto</a></li>
                    <!-- Dropdown Trigger -->
                    <li><a class="dropdown-trigger" href="#!" data-target="dropdown1"><i class="material-icons"
                                style="color: #F9B0C3">person</i></a>
                    </li>
                    <li><a class="dropdown-trigger" href="#!" data-target="dropdown2"><i class="material-icons"
                                style="color: #F9B0C3">notifications_active</i></a></li>
                    <li><a class="dropdown-trigger" href="#!" data-target="dropdown3"><i class="material-icons"
                                style="color: #F9B0C3">shopping_cart</i></a></li>

                </ul>
            </div>
        </nav>

        <!-- Dropdown Structure 1 -->
        <ul id="dropdown1" class="dropdown-content">
            <li><a href="#!">Perfil</a></li>
            <li class="divider"></li>
            <li><a href="#!">Config.</a></li>
        </ul>
        <!-- Dropdown Structure 2-->
        <ul id="dropdown2" class="dropdown-content">
            <li><a href="#!">Mensajes</a></li>
            <li class="divider"></li>
            <li><a href="#!">Wizard</a></li>
        </ul>
    </div>
    <div class="parallax-container">
        <div class="parallax">
        	<img src="../images/electrónicos.jpg " style="width: 90%; height: 115%; margin-left:15%; margin-top: 0%" >
        </div>
        <div> 
        	<img src="../images/electrónico1.jpg " style="width: 10%; height: 15%; margin-left:15%; margin-top:1%" > 
        </div>
    </div>
    <div class="section ">
        <div class="row container">
            <h2 class="header" id="titulo2">¡Todos nuestro departamento de electronica con 10% de descuento!</h2>
            <p class="grey-text text-darken-3 lighten-3" id="titulo3">1 dic - 6 Enero 
            	<a class="waves-effect waves-light btn">Comprar</a></p>

        </div>
    </div>
    <div class="parallax-container p1">
        <div> 
        	<img src="../images/tenis2.jpg " style="width: 100%; height: 10%;"> 
        </div>
    </div>
    <div class="section section1">
        <div class="row container">
            <h2 class="header" id="titulo2">Tienda de tenis</h2>
            <p class="grey-text text-darken-3 lighten-3" id="titulo3">Las marcas más buscadas</p> 
        </div>
    </div>
    <div class="section white">
        <div class="row container " style="display: flex;">
        	<img src="../images/Descuentos.png "  style="width: 20%; height: 20%;"><p class="lighten-3" id="texto">Descuentos</p>
        	<img src="../images/Cupones.png " style="width: 20%; height: 20%;"><p class="lighten-3" id="texto">Cupones</p>
        	<img src="../images/Regalos.png " style="width: 20%; height: 20%;"><p class="lighten-3" id="texto">Regalos</p>
        </div>

    </div>


	<body style="font-family: 'Montserrat'">
    <div class="fixed-action-btn">
        <a class="waves-effect waves-light btn btn-floating btn-large purple modal-trigger" href="#modal1"><i
                class="material-icons">chat</i></a>
    </div>

    <!-- Modal Structure -->
    <div id="modal1" class="modal bottom-sheet " style="width: 50%; background-color: #E0DFFD;">
        <div class="modal-content">
            <h4 >Soporte Online</h4>
            <p>Mariana</p>
            <div class="col s8  offset-m2 l6 offset-l3">
                <div class="card-panel grey lighten-5 z-depth-1">
                    <div class="row valign-wrapper">
                        <div class="col s8">
                            <img src="../images/soporte.png" width="35%" alt="" class="circle responsive-img">
                        </div>
                        <div class="col s12">
                            <span class="black-text">
                                Escribe tu problema y con gusto te atenderemos.
                            </span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="modal-footer">
            <textarea id="textarea1" class="materialize-textarea" placeholder="Escribe..."></textarea>
            <button class="modal-close btn waves-effect waves-light" type="submit" name="action"
                style="background-color: #46467A;border-radius: 40px;">Enviar
                <i class="material-icons right">send</i>
            </button>
        </div>
    </div>
</body>

<style>
    .parallax-container {
        height: 350px;
        width: 100%;
    }
    .p1{
    	height: 400px;
    }
  		#titulo2{
  			font-family: Bebas Neue;
  			font-size: 35px;
  			margin-left: 3%;
  			color:#000000;
  		}
  		#titulo3{
  			font-family: Bebas Neue;
  			font-size: 30px;
  			margin-left: 3%;
  			color:#3E3D3D;
  		}
  		#texto{
  			font-family: Bebas Neue;
  			font-size: 25px;
  			margin-left: 1%;
  			margin-top:7%;
  			margin-right:5%;
  			color:#3E3D3D;
  		}
  		.section{
  			background-color:#E0DFFD;
  			
  		}
  		.section1{
  			background-color:#C2CEDB;
  			
  		}
  		.btn{
  			background-color:#F9B0C3;
  			font-size: 23px;
  			font-family: Bebas Neue;
  			border-radius: 20%;

  		}
</style>

</html>
<script>

    document.addEventListener('DOMContentLoaded', function () {
        var elems = document.querySelectorAll('.parallax');
        var instances = M.Parallax.init(elems, '');
    });

    $(document).ready(function () {
        $('.parallax').parallax();
    });
</script>
<script type="text/javascript" src="js/materialize.min.js"></script>
    <script>
        document.addEventListener('DOMContentLoaded', function () {
            var elems = document.querySelectorAll('.modal');
            var instances = M.Modal.init(elems);
        });
    </script>
    <script>
        document.addEventListener('DOMContentLoaded', function () {
            var elems = document.querySelectorAll('.dropdown-trigger');
            var instances = M.Dropdown.init(elems);
        });
    </script>
    <script type="text/javascript" src="js/materialize.min.js"></script>