<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<!-- Librerías de Materialize -->
	<script type="text/javascript" src="../js/materialize.js"></script>
	<link rel="stylesheet" type="text/css" href="../css/materialize.css">
	<script type="text/javascript" src="../js/materialize.min.js"></script>
	<link rel="stylesheet" type="text/css" href="../css/materialize.min.css">
	<!-- Librería de iconos Materialize -->
	 <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
	<link href='https://fonts.googleapis.com/css?family=Bebas Neue' rel='stylesheet'>
    <link href='https://fonts.googleapis.com/css?family=Montserrat' rel='stylesheet'>
    <!--Import materialize.css-->
    <link type="text/css" rel="stylesheet" href="css/materialize.min.css" media="screen,projection" />
    <!--Let browser know website is optimized for mobile-->
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <!-- Compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <!-- Compiled and minified JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
</head>

<body style="font-family: 'Montserrat'">
  <div>
    <nav style="font-family: 'Montserrat'">
        <div class="nav-wrapper" style="background-color:#46467a">
            <a href="landinpage.html" class="brand-logo"><img class="responsive-img" width="70%"
                    src="../images/Logo.png"></a>
            <ul class="right hide-on-med-and-down">
                <li><a href="product_list.html">Catalogo</a></li>
                <li><a href="#">Ofertas</a></li>
                <li><a href="#">Nosotros</a></li>
                <li><a href="contacto_form.html">Contacto</a></li>
                <!-- Dropdown Trigger -->
                <li><a href="profile.html" class="dropdown-trigger" style="margin-left: 0%;"><i class="material-icons"><input type="image"
                                src="../images/icon/user.png" width="30" height="30" style="margin-top: 50%;" data-target="dropdown1"/></i></a>
                </li>
                <li><a href="shoping_cart.html"><i class="material-icons"><input type="image" src="../images/icon/carrito.png"
                                width="30" height="30" style="margin-top: 50%;" /></i></a></li>
                <li><a href="" class="modal-trigger" style="margin-top: 25%;"><i class="material-icons"><input
                                type="image" src="../images/icon/notification.png" width="30" height="30"
                                style="margin-left: 0%;" /></i></a></li>
            </ul>
        </div>
    </nav>
</div>

	<div class="row" style="height: 100%; width: 100%; position: fixed; background-color: #FFFFFF;">
		<div class="col" style="background-color: #FFFFFF;  height: 86%; width: 45%; margin-left:5%; margin-top:1%; border-width: 1px;border-style: solid;border-color: #7766C6;">
			<center style="margin-top:45%;">
			<p id="titulo2">TOTAL A PAGAR:</p>
			<p id="titulo3">$300.00</p>
			</center>
		</div>
		<div class="col" style="background-color: #FFFFFF;  height: 86%; width: 45%; margin-right:3%; margin-top:1%; border-width: 1px;border-style: solid;border-color: #7766C6;">
			<p id="titulo2" style="margin-top:3%;">ACEPTAMOS:</p>
			<div> 
				<img src="../images/Tarjetas/tarjeta1.png" style="width: 15%; height: 9.5%; margin-left: 10%; margin-top: 1%">
				<img src="../images/Tarjetas/tarjeta2.png" style="width: 15%; height: 9.5%; margin-left: 5%; margin-top: 1%">
				<img src="../images/Tarjetas/tarjeta3.png" style="width: 15%; height: 9.5%; margin-left: 5%; margin-top: 1%">
				<img src="../images/Tarjetas/tarjeta4.png" style="width: 15%; height: 9.5%; margin-left: 5%; margin-top: 1%">
			</div>
	<form class="col s12" style="margin-top:3%; margin-left:5%;">
      <div class="row">
        <div class="input-field col s11">
          <input id="number" type="text" class="validate">
          <label for="number">Número de Tarjeta:</label>
        </div>
      </div>

      <div class="row">
        <div class="input-field col s4">
          <input id="cvc" type="tel" class="validate">
          <label for="cvc">CVC:</label>
        </div>
        <div class="input-field col s7">
          <input id="date" type="date" class="validate">
          <label for="date">Fecha de expiración:</label>
        </div>
      </div>

      <div class="row">
        <div class="input-field col s11">
          <input id="name" type="text" class="validate">
          <label for="name">Nombre(S):</label>
        </div>
      </div>
      	<div class="row" id="div2">
      		<center>
       		<div class="input-field col s12">
        		<button class="btn waves-effect2 waves-light" type="submit" name="action">Pagar Ahora</button>
        	</div>
        	</center>
        </div>
    </form>
		</div>

	</div>
	</div>
	<style type="text/css">
  		#titulo3{
  			font-family: 'Montserrat', sans-serif;
  			font-size: 30px;
  			margin-left: 3%;
  			color:#000000;
  		}
  		#titulo1{
  			font-family: 'Montserrat', sans-serif;
  			font-size: 18px;
  			margin-left: 3%;
  		}
  		#titulo2{
  			font-family: Bebas Neue;
  			font-size: 30px;
  			margin-left: 3%;
  			color:#000000;
  		}
  		.waves-effect2{
  			font-family: Bebas Neue;
  			font-size: 21px;
  			background-color: #46467A;
  		}
  	</style>
  	<script>
        document.addEventListener('DOMContentLoaded', function () {
            var elems = document.querySelectorAll('.dropdown-trigger');
            var instances = M.Dropdown.init(elems);
        });
    </script>
    <script type="text/javascript" src="js/materialize.min.js"></script>
</body>
</html>